@charset "utf-8";


.qbtn_area {
    text-align: right;
}

[class*="qbtn_ty_"].lg {
    min-width: 100px;
    padding: 10px 14px;
    font-size: 15px;
}

[class*="qbtn_ty_"] {
    display: inline-block;
    margin-left: 7px;
    border: none;
    text-align: center;
    line-height: 1;
    letter-spacing: -0.04em;
    cursor: pointer;
    vertical-align: top;
    box-sizing: border-box;
}

.qbtn_ty_bface {
    border: 1px solid #141414;
    background: #141414;
    color: #fff !important;
}



.qbtn_area_center {
	    margin-top: 60px;
	    text-align: center;
	
}

